<div id="comments">
	{% case page.comment_count %}
		{% when 0 %}
		    <!-- no comments -->
		{% when 1 %}
			<h3>1 Comment</h3>
		{% else %}
			<h3>{{page.comment_count}} Comments</h3>
	{% endcase %}
	{% for c in page.comment_list %}
		<div class="comment {% cycle 'odd', 'even' %}">
			<p class="comment_header">
				<!-- Date not neccessary <span class="comment_date">{{c.date | date: "%d %B %Y"}}</span> -->
				<h3><b>From:</b>
				    {% if c.link and c.link != '' %}
					    <a href="{{c.link}}">{{c.name}}</a>
				    {% else %}
					    {{c.name}}
				    {% endif %}
				</h3>
			</p>
			
			<p>
			{{c.comment}}
			</p>
			
		</div>
	{% endfor %}
	<h3>Post a comment</h3>
	<p style="font-style: italic">
		All comments are held for moderation; basic HTML formatting accepted.
	</p>
	<form id="commentform" method="POST" action="http://iqandreas.isbetterthanyou.org/public/iqandreas.github.com/commentsubmit.php">
		<input type="hidden" name="post_id" value="{{page.id}}" />
		<input type="hidden" name="post_title" value="{{ page.title | escape }}" />
		<input type="hidden" name="return_url" value="{{site.url}}{{page.url}}" />
		<table>
			<tr>
				<th>Name:</th>
				<td><input type="text" size="25" name="name" /> (required)</td>
			</tr>
			<tr>
				<th>E-mail:</th>
				<td><input type="text" size="25" name="email" /> (required, not published)</td>
			</tr>
			<tr>
				<th>Website:</th>
				<td><input type="text" size="25" name="link" /> (optional)</td>
			</tr>
			<tr>
				<td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Submit Comment" /></td>
			</tr>
		</table>
	</form>
</div>
