<p>To recommend changes to the source code or request features<br/>
<a href="https://github.com/IQAndreas/Minecraft-Mods-and-Patches">https://github.com/IQAndreas/Minecraft-Mods-and-Patches</a></p>

<p>Parts of the code owned by Mojang AB (used with permission)<br/>
Parts of the code owned by Andreas Renberg (IQAndreas)</p>

<p>The source is open so fixes can be recommended, but any use of the source or compiled code outside of the project (including using it in other mods) is strictly prohibited.</p>

<p>If you want to use any part of the code in your own mods you need written permission from the author (Andreas Renberg), who can be contacted via the GitHub account "IQAndreas".</p>

<p>See <a href="/minecraft/license">LICENSE</a> for full terms of use.</p>
