<p><strong>It will not affect your world save</strong><br/>
    No new items or blocks will be added to your maps. This means the mod can be uninstalled, reinstalled, or MineCraft upgraded (causing the patch to automatically uninstall) without any issues.</p>
    
<p><strong>It does not require any mod APIs</strong><br/>
    This patch modifies base classes in the MineCraft source code. No mod APIs are required to use it, nor can it be modified to use a mod API rather than modifying base classes (hooks just won't cut it!).</p>
