<p style="font-style: italic">
	All comments are held for moderation; Markdown and basic HTML formatting accepted.
</p>
<form id="commentform" method="POST" action="{{site.static_comments_submit_url}}">
	<input type="hidden" name="page_id" value="{{page.id}}" />
	<input type="hidden" name="page_title" value="{{ page.title | escape }}" />
	<input type="hidden" name="return_url" value="{{site.url}}{{page.url}}" />
	<table>
		<tr>
			<th><label for="commenter-name">Name:</label></th>
			<td><input type="text" size="25" id="commenter-name" name="name" /> (required)</td>
		</tr>
		<tr>
			<th><label for="commenter-email">E-mail:</label></th>
			<td><input type="text" size="25" id="commenter-email" name="email" /> (required, not published)</td>
		</tr>
		<tr>
			<th><label for="commenter-website">Website:</label></th>
			<td><input type="text" size="25" id="commenter-website" name="link" /> (optional)</td>
		</tr>
		<tr>
			<td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
		</tr>
		<tr>
			<td colspan="2"><label><input type="checkbox" name="private" value="true" /> Keep this comment private <i>(only the site owner will be able to see it)</i></label></td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Submit Comment" /></td>
		</tr>
	</table>
</form>
