{% case page.comment_count %}
	{% when 0 %}
	{% when 1 %}
		<h1>1 Comment</h1>
	{% else %}
		<h1>{{page.comment_count}} Comments</h1>
{% endcase %}
{% for c in page.comment_list %}
	<div class="comment {% cycle 'odd', 'even' %}">
		<p class="comment_header">
			From: {% if c.link and c.link != '' %}
				<a href="{{c.link}}">{{c.name}}</a>
			{% else %}
				{{c.name}}
			{% endif %}
			<br />
			<span class="comment_date">{{c.date}}</span>
		</p>
		<p>
			{{c.content}}
		</p>
	</div>
{% endfor %}

